# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
android/.gradle/
android/.idea/
ios/Pods/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.log
*.lock
*.DS_Store
android/app/debug.keystore
.gradle/
local.properties
.flutter-plugins
# macOS
*.DS_Store

# Generated plugin registrant
generated_plugin_registrant.dart

# Misc
coverage/
